.head{
	margin-top: 15px;
   display: flex;
   align-items: center;
   color:#FFFFFF;

 
}
.container-fluid{
	background-color: #196F3D ;
	
	height:70px;
	display: flex;
   align-items: center;
  
    left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: fixed;
	width: 100%;
	z-index: 999;

}

.logo{
	 margin-right: 20px;

}

.divPrin{
	padding-top: 80px;
	z-index: 0;
	
}