<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let productor of productoresLista">

        <ion-card class="ion-margin">
        
          <ion-card-header>
            <div class="ion-text-center">
              <ion-text color="warinig">
                <strong><h4>{{ productor.primerNombre }} {{ productor.primerApellido}} {{ productor.segundoApellido}}</h4></strong>
              </ion-text>
            </div>
          </ion-card-header>

          <ion-card-content>
            <img src="assets/productor.png">
          </ion-card-content>
        
          <ion-footer>
            <ion-row >
              <ion-col>
                <ion-button color="warning" [routerLink]="['/productos', productor.numeroCedula]" expand="block">Ver productos</ion-button>
              </ion-col>
            </ion-row>
          </ion-footer>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="location-sharp"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button (click)="getProductoresProvincia()">P</ion-fab-button>
      <ion-fab-button (click)="getProductoresCanton()">C</ion-fab-button>
      <ion-fab-button (click)="getProductoresDistrito()">D</ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>