<div  class="container-fluid" >

	<button type="button" class="btn btn-success button1" (click)="formVisibility = true"  *ngIf="!formVisibility && !form2Visibility && !elimina">
	Agregar categoría
	</button>

	<br/>
	<div class="wrapper" *ngIf="formVisibility || form2Visibility " >

		<h2 class="text-white">Datos de la categoría</h2>
		<form 
              (ngSubmit)="submit(cedula.value,nombre.value)"
              #f="ngForm">
		<label class="text-white">Codigo unico:</label> <input class="inputred" type="number" ngModel  #cedula required name="cedula"/>
		<p class="text-white">Nombre: <input type="text" #nombre  class="inputred"  name="nombre" ngModel required /><br/></p>



<div class= "cont"  *ngIf="formVisibility">
	<button type="button" class="btn btn-success but" (click)="formVisibility = false">
	Cancelar
	</button>
	<button type="button" class="btn btn-success but"
	 mat-button
	  type="submit"
   [disabled]="f.invalid"
                  >
	Agregar categoría
	</button>


</div>

<div class= "cont"  *ngIf="form2Visibility">
	<button type="button" class="btn btn-success but" (click)="form2Visibility = false">
	Cancelar
	</button>
	<button type="button" class="btn btn-success but"
	 mat-button
	
   [disabled]="f.invalid"
   (click)="submit2(cedula.value,nombre.value)"
                  >
	Actualizar categoría
	</button>
</div>
</form>

		
	</div>

	<button type="button" class="btn btn-success button1" (click)="form2Visibility = true"  *ngIf="!formVisibility && !form2Visibility && !elimina">
	Actualizar categoría
	</button>

	<button type="button" class="btn btn-success butt2 button1" (click)="elimina = true"  *ngIf="!formVisibility && !form2Visibility && !elimina">
	Eliminar categoría
	</button>

	<div class= "cont2"  *ngIf="elimina">
	<form 
              (ngSubmit)="submit3(cedula2.value)"
              #f2="ngForm">


 		<label class="text-white">Codigo:</label> <input class="inputred" type="number" ngModel  #cedula2 required name="cedula"/>



<div class= "cont">
	<button type="button" class="btn btn-success but" (click)="elimina = false">
	Cancelar
	</button>
	<button type="button" class="btn btn-success but"
	 mat-button
	  type="submit"
   [disabled]="f2.invalid"
                  >
	Eliminar
	</button>


</div>

<div class= "cont"  *ngIf="form2Visibility">
	<button type="button" class="btn btn-success but" (click)="form2Visibility = false">
	Cancelar
	</button>
	<button type="button" class="btn btn-success but"
	 mat-button
	
   [disabled]="f.invalid"
   (click)="submit2(cedula.value,nombre.value)"
                  >
	Actualizar categoría
	</button>


</div>
</form>


</div>

</div>


