.tittle{
	
	font-weight: 600px;
	text-align: center;
}

.list{
	
	text-align: center;
}

.row{
	background-color: rgba(151, 169, 147,0.8);
	width: 98%;
	margin-left: 10px;
	border-radius: 20px;
	box-shadow: 10px;
}
.inputred {
  border-radius: 10px;
  border: 1px solid green;
  margin-left: 5px;
   background-color: rgba(151, 169, 147,0.8);
}
.consultar{
	margin-top: 10px;
}

.but{
	margin-left: 5px;
	border-radius: 20px;
	height: 30px;
	line-height:10px; 
	margin-bottom: 5px;

}
.example-card {
	width: 270px;
  background-color: rgba(72, 241, 31  ,0.3);
border-radius: 10px;
	box-shadow: 10px;
	display: flex;
	flex-direction: column;
	margin-top: 5px;
	height: 180px;
	justify-content: center;
	margin-bottom: 30px;

}
.name{
	text-align: center;

}


.but{
	margin-left:10px;
	
}
.row2{
	display: flex;
	justify-content:space-around;
	flex-direction: row;
	width: 95%;
	margin-left: 10px;

}