

  <nav class="my-2 my-md-0 mr-md-3 container-fluid"  *ngIf="!this.route.url.includes('productor/afiliacion')">
<div class="column">
    <a routerLink="/productor/productos/{{_logInService.getidUsuario()}}" routerLinkActive="acive" class="p-2 text-dark" href="#"><strong>Gestión de productos
    </strong></a>
</div>
<div class="column">
    <a class="p-2 text-dark" routerLink="/productor/pedidos" r href="#"><strong>Gestión de pedidos</strong></a>
</div>
   
    

  </nav>


<router-outlet></router-outlet>
