
	<button type="button" class="btn btn-success button1" (click)="agregar()"  *ngIf="!formVisibility && !form2Visibility && !elimina">
		<img class="img"  src="assets/add.svg">
	Agregar productor
	</button>
<div  class="container-fluid" >
	<div class="wrapper" *ngIf="formVisibility || form2Visibility " >

		<h2 class="text-white name">Datos del productor</h2>
		<form 
              (ngSubmit)="submit(cedula.value,nombre.value,apellidos.value,apellidos2.value,provincia.value,canton.value,distrito.value,fecha.value,
              numero.value,sinpe.value,contrasena.value)"
              #f="ngForm">

		<p class="text-white">Numero de cédula: <input [(ngModel)]="productor.numeroCedula" class="inputred" type="number" ngModel  #cedula required name="cedula"/></p>
		<p class="text-white">Nombre: <input [(ngModel)]="productor.primerNombre"  type="text" #nombre  class="inputred"  name="nombre" ngModel required />
		Primer Apellido: <input  type="text" #apellidos [(ngModel)]="productor.primerApellido"  name="apellido1" class="inputred" ngModel required />
		Segundo Apellido: <input type="text" #apellidos2  [(ngModel)]="productor.segundoApellido" name="apellido2" class="inputred" ngModel required /><br/></p>
		<p class="text-white">Dirección</p>
		<p class="text-white">
		Provincia:
			<select #provincia class="inputred" (change)="cambioProvincia($event.target.value)" ngModel  name="provincia" required>
					<option *ngFor="let provincia of provincias" [value]='provincia' > {{provincia}}</option>
			</select>


			
		Canton: 
  <select  #canton class="inputred"   (change)="cambioCanton($event.target.value)" ngModel  name="canton" required>
  	<option [value]=''> </option>
  <option *ngFor="let canton of cantones"  [value]='canton'> {{canton}}</option>

</select>
Distrito: 
  <select #distrito class="inputred"   required ngModel  name="distrito"  >
  <option [value]=''> </option>
  <option *ngFor="let distrito of distritos" [value]='distrito'> {{distrito}}</option>

</select>
</p>

<p class="text-white">Fecha de nacimiento:
  <input #fecha type="date" ngModel [(ngModel)]="productor.fechaNacimiento" name="born" class="inputred"  required /></p>

  <p class="text-white">Numero de telefono: <input [(ngModel)]="productor.numeroTelefono" class="inputred" type="number" ngModel  #numero required name="num"/>     Numero de Sinpe: <input [(ngModel)]="productor.numeroSINPE"  class="inputred" type="number" ngModel  #sinpe required name="sinpes"/></p>

  <p class="text-white">Contraseña: <input [(ngModel)]="productor.claveAcceso"  class=" inputred"  type="password" required #contrasena 
       name="contrasena" ngModel /></p>


<div class= "cont"  *ngIf="formVisibility">
	<button type="button" class="btn btn-success but" (click)="formVisibility = false">
	Cancelar
	</button>
	<button type="button" class="btn btn-success but"
	 mat-button
	  type="submit"
   [disabled]="f.invalid"
                  >
	Agregar productor
	</button>


</div>

<div class= "cont"  *ngIf="form2Visibility">
	<button type="button" class="btn btn-success but" (click)="form2Visibility = false">
	Cancelar
	</button>
	<button type="button" class="btn btn-success but"
	 mat-button
	
   [disabled]="f.invalid"
   (click)="submit2(cedula.value,nombre.value,apellidos.value,apellidos2.value,provincia.value,canton.value,distrito.value,fecha.value,
              numero.value,sinpe.value,contrasena.value)"
                  >
	Actualizar productor
	</button>


</div>
</form>

		
	</div>


	<div class= "cont2"  *ngIf="elimina">
	<form 
              (ngSubmit)="submit3(cedula2.value)"
              #f2="ngForm">




<div class= "cont"  *ngIf="form2Visibility">
	<button type="button" class="btn btn-success but" (click)="form2Visibility = false">
	Cancelar
	</button>
	<button type="button" class="btn btn-success but"
	 mat-button
	
   [disabled]="f.invalid"
   (click)="submit2(cedula.value,nombre.value,apellidos.value,apellidos2.value,provincia.value,canton.value,distrito.value,fecha.value,
              numero.value,sinpe.value)"
                  >
	Actualizar productor
	</button>


</div>
</form>

</div>

</div>
<div class="row name">
	<mat-card class="example-card " *ngFor="let productor of productores" >
		<div >
  <mat-card-header >
    <mat-card-title  >
    	<h4>{{productor.primerNombre}} {{productor.segundoNombre}} {{productor.primerApellido}}  {{productor.segundoApellido}}</h4></mat-card-title>
    <mat-card-subtitle>{{productor.numeroCedula}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p> Dirección:<br /> {{productor.provinciaResidencia}}, {{productor.cantonResidencia}}, {{productor.distritoResidencia}}
    <br /> Número de telefono: {{productor.numeroTelefono}}
      <br /> Número de SINPE: {{productor.numeroSINPE}}
      <br /> Fecha de nacimiento: {{productor.fechaNacimiento}}
     

  </p>
  </mat-card-content>
  <mat-card-actions>
    <button type="button" class="btn btn-success but" (click)="actualiza(productor)" >
	Actualizar
	</button>
    <button type="button" class="btn btn-success but" (click)="submit3(productor.numeroCedula)" >
	Eliminar
	</button>
  </mat-card-actions>
  </div>
</mat-card>

</div>
