<div class="container register-form k-container">
  <div class="form">
      <div class="note">
        <h2>Crear una nueva cuenta de cliente</h2>
      </div>

      <form #userForm="ngForm" class="form-content" (ngSubmit)="onSubmit()" novalidate>
        
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
                <input type="text" required #name="ngModel" [class.is-invalid]="name.invalid && name.touched"
                 class="form-control" placeholder="Nombre" name="primerNombre" [(ngModel)]="usuarioR.primerNombre"/>
                 <small class="text-danger" [class.d-none]="name.valid || name.untouched">Nombre es requerido</small>
            </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
              <input type="text" #name2="ngModel" [class.is-invalid]="name2.invalid && name2.touched"
               class="form-control" placeholder="Segundo nombre" name="primerNombre" [(ngModel)]="usuarioR.segundoNombre"/>
               <small class="text-danger" [class.d-none]="name2.valid || name2.untouched">Segundo nombre es requerido</small>
          </div>
      </div>
        </div>

          <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                      <input type="text" required #apellido1="ngModel" [class.is-invalid]="apellido1.invalid && apellido1.touched"
                       class="form-control" placeholder="Primer Apellido" name="primerApellido" [(ngModel)]="usuarioR.primerApellido"/>
                       <small class="text-danger" [class.d-none]="apellido1.valid || apellido1.untouched">Primer apellido es requerido</small>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <input type="text" required #apellido2="ngModel" [class.is-invalid]="apellido2.invalid && apellido2.touched"
                       class="form-control" placeholder="Segundo Apellido" name="segundoApellido" [(ngModel)]="usuarioR.segundoApellido"/>
                       <small class="text-danger" [class.d-none]="apellido2.valid || apellido2.untouched">Segundo apellido es requerido</small>
                  </div>
              </div>
          </div>

          <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="number" required #cedula="ngModel" [class.is-invalid]="cedula.invalid && cedula.touched"
                     class="form-control" placeholder="Numero de cédula"  name="numeroCedula" [(ngModel)]="usuarioR.numeroCedula"/>
                     <small class="text-danger" [class.d-none]="cedula.valid || cedula.untouched">El número de cédula es requerido</small>
                </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                  <input type="number" #telefono="ngModel" [class.is-invalid]="telefono.invalid && telefono.touched"
                   #telefono="ngModel" pattern="^\d{8}$"
                  [class.is-invalid]="telefono.invalid && telefono.touched" class="form-control" placeholder="Numero de teléfono" name="numeroTelefono" [(ngModel)]="usuarioR.numeroTelefono"/>
                  <small class="text-danger" [class.d-none]="telefono.valid || telefono.untouched">Numero de teléfono debe de tener 8 dígitos</small>
              </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <input type="text" required #provincia="ngModel" [class.is-invalid]="provincia.invalid && provincia.touched"
              class="form-control" placeholder="Provincia" name="Provincia" [(ngModel)]="usuarioR.provinciaResidencia"/>
              <small class="text-danger" [class.d-none]="provincia.valid || provincia.untouched">Provincia es requerida</small>

          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <input type="text" required #canton="ngModel" [class.is-invalid]="canton.invalid && canton.touched"
             class="form-control" placeholder="Cantón" name="canton" [(ngModel)]="usuarioR.cantonResidencia"/>
             <small class="text-danger" [class.d-none]="canton.valid || canton.untouched">Canton es requerido</small>

        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <input type="text" required #distrito="ngModel" [class.is-invalid]="distrito.invalid && distrito.touched"
           class="form-control" placeholder="Distrito" name="distrito" [(ngModel)]="usuarioR.distritoResidencia"/>
           <small class="text-danger" [class.d-none]="distrito.valid || distrito.untouched">Distrito es requerido</small>

      </div>
    </div>
        </div>

        <div class="row">
          <div class="col-md-6">
              <div class="form-group">
                <label for="exampleFormControlFile1">Día de nacimiento</label>
                  <input type="date" class="form-control" placeholder="Fecha de nacimiento" min="1945-01-01" max="2020-12-31" name="diaNacimiento" [(ngModel)]="usuarioR.fechaNacimiento"/>
              </div>
          </div>
      </div>

      <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input type="text" required #usuario="ngModel" [class.is-invalid]="usuario.invalid && usuario.touched"
                 class="form-control" placeholder="Usuario" name="nombreUsuario" [(ngModel)]="usuarioR.nombreUsuario"/>
                 <small class="text-danger" [class.d-none]="usuario.valid || usuario.untouched">Nombre de usuario es requerido</small>

            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <input type="password" required #contrasena="ngModel" [class.is-invalid]="contrasena.invalid && contrasena.touched"
                class="form-control" placeholder="Contraseña" name="Contraseña" [(ngModel)]="usuarioR.claveAcceso"/>
                <small class="text-danger" [class.d-none]="contrasena.valid || contrasena.untouched">La contraseña es requerida</small>

            </div>

        </div>
    </div>

    <div class="row" *ngIf="userExist">
      <div class="col-md-12">
          <div class="form-group">
              <strong><h3 class="text text-danger">Ya existe una cuenta con este nombre de usuario o número de cédula</h3></strong>
          </div>
      </div>
    </div>
        
    <button [disabled]="userForm.form.invalid" (click)="onSubmit()" type="button" class="btn btn-primary">Submit</button>
  </form>
  </div>
</div>