ion-item{
    --background: #b46464;
     --color: #fff;
     border-radius: 20px;
    }
ion-button{
    --background: #062f77;
}

a{
    color: #fff;
 }

 ion-input {
    text-align: center;
  }
ion-datetime{
    text-align: center;
}