<div class="container-fluid">  
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Publico General </div>
        <div class="list-group list-group-flush">

            <a routerLink="/cliente-contenido/lista-productores" routerLinkActive="acive" class="list-group-item list-group-item-action bg-light">Productores</a>
            <a routerLink="/cliente-contenido/carrito-compras" routerLinkActive="acive"class="list-group-item list-group-item-action bg-light">Carrito de compras</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">log out</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Soporte</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Status</a>
        </div>
        </div>

        <!-- Page Content -->
        <div id="page-content-wrapper">
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
        </div>
    </div>
</div> 
